{%- if card_item and card_item != blank %}

  {%- liquid

    comment
      Accepts:
        - aos_id: {String} Optionally include element id for AOS
        - card_classes: {String} Optionally include custom classes
        - card_index: {String} Optionally include index
        - card_item: {Object} Shopify block of type 'card'
        - section_id: {String} Optionally include parent id
    endcomment

    assign index = card_index | default: 1
    assign snippet_name = 'card-benefit'
    assign snippet_classes = snippet_name
    assign snipped_id = snippet_name | append: '--' | append: index

    if card_classes and card_classes != blank
      assign snippet_classes = snippet_classes | prepend: ' ' | prepend: card_classes
    endif

    if section_id and section_id != blank
      assign snipped_id = snipped_id | append: '--' | append: section_id
    endif

    assign aos_id = aos_id | default: ''
    assign aos_delay = 250 | times: index
    assign aos_delay_increment = 250

    assign heading = card_item.settings.heading | default: ''
    assign image = card_item.settings.image | default: false
    assign message = card_item.settings.message | default: ''

  -%}

  <article class="{{ snippet_classes }}" id="{{ snipped_id }}">
    <div class="{{ snippet_name }}__main">

      {% if image %}
        {%- liquid
          capture aos_attrs
            render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-left'
          endcapture
          assign aos_delay = aos_delay | plus: aos_delay_increment
        -%}
        <div class="{{ snippet_name }}__image" {{ aos_attrs }}>
          {% render 'lazyload-image', image: image %}
        </div>
      {% endif %}

      {% if heading != blank or message != blank %}
        <div class="{{ snippet_name }}__content">
          {% if heading != blank %}
            {%- liquid
              capture aos_attrs
                render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-up'
              endcapture
              assign aos_delay = aos_delay | plus: aos_delay_increment
            -%}
            <strong class="{{ snippet_name }}__heading heading--primary" {{ aos_attrs }}>{{ heading }}</strong>
          {% endif %}
          {% if message != blank %}
            {%- liquid
              capture aos_attrs
                render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-up'
              endcapture
            -%}
            <div class="{{ snippet_name }}__message body-copy--primary body-copy--sm" {{ aos_attrs }}>{{ message }}</div>
          {% endif %}
        </div>
      {% endif %}

    </div>
  </article>

{%- endif -%}
