{%- if link and link != blank and title and title != blank -%}

  {%- liquid

    comment

      Accepts:
        - classes: {String} Optionally include classes
        - link: {String} URL
        - title: {String} Title of link

      Usage:
      render 'link', link: '/collections/all', style: 'not-primary', title: 'Shop All'

    endcomment

    assign snippet_name = 'link'
    assign snippet_classes = snippet_name
    assign target = "_self"

    if classes and classes != blank
      assign snippet_classes = snippet_classes | prepend: ' ' | prepend: classes
    endif

    if link contains 'http'
      assign target = "_blank"
    endif

  -%}

  <a class="{{- snippet_classes | strip_newlines -}}" href="{{- link -}}" title="{{- title -}}" target="{{- target -}}">
    <span class="{{ snippet_name }}__title">{{- title -}}</span>
  </a>

{%- endif -%}
