{%- if product and product != blank -%}

  {%- liquid

    assign template_name = 'product'
    assign snippet_name = 'product-actions'

    assign product_available = product.available | default: false
    assign product_description = product.description | default: false

  -%}

  <div class="{{ template_name }}__actions">

    <div class="{{ template_name }}__stepper">
      {%- capture inverted_corner_box_content -%}
        {% render 'stepper' %}
      {%- endcapture -%}
      {%-
        render 'inverted-corner-box',
        background: 'off-white',
        border: 'off-black',
        content: inverted_corner_box_content,
        type: 'stepper'
      -%}
    </div>

    <div class="{{ template_name }}__cta">
      {%- capture button_classes -%}
        {{ template_name }}__button button--primary button--text-colour-off-white js--add-to-cart-product
      {%- endcapture -%}
      {%- capture inverted_corner_box_content -%}
         <button class="{{ button_classes }}" type="submit" {% unless product_available %}disabled{% endunless %}>Add to Cart</button>
      {%- endcapture -%}
      {%-
        render 'inverted-corner-box',
        background: 'off-black',
        border: 'off-black',
        content: inverted_corner_box_content,
        type: 'button'
      -%}
    </div>

  </div>

{%- endif -%}
