<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {%
      render 'theme--preconnect-resources',
        resources: 'https://cdn.shopify.com, https://v.shopify.com, https://cdn.jsdelivr.net, https://www.google-analytics.com'
    %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta name="author" content="Very Polite">
  	<meta http-equiv="Expires" content="7" />

    <!-- Canonical URL -->
  	<link rel='canonical' href='{{ canonical_url }}'>

    <!-- Icons -->
    <link href='{{ "favicon.ico" | asset_url }}' type='image/x-icon' rel='shortcut icon' />
    <link href='{{ "apple-touch-icon.png" | asset_url }}' type='image/png' rel='apple-touch-icon'>

    {{ content_for_header }}

    <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'password.css' | asset_url }}">

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if ( Shopify.designMode ) document.documentElement.classList.add('shopify-design-mode');
      window.moneyFormat = {{ shop.money_format | json }};
    </script>

    {% render 'theme--external-scripts' %}

  </head>

  <body class="{% render 'theme--classes' %}">
    {{ content_for_layout }}
  </body>
</html>
