{%- liquid

  assign section_name = 'error-404'
  assign section_classes = section_name
  assign section_id = section_name | append: '--' | append: section.id

  assign aos_id = section_id | append: '--aos'
  assign aos_delay = 250
  assign aos_delay_increment = 250

  assign text_colour = section.settings.text_colour | default: 'light'

  if section.settings.anchor_id != blank
    assign section_id = section.settings.anchor_id
  endif

-%}

{%- style -%}

  {%
    render 'element-styles',
      element_background: section.settings.background,
      element_background_image: section.settings.background_image,
      element_background_image_position_desktop: section.settings.background_image_position_desktop,
      element_background_image_position_mobile: section.settings.background_image_position_mobile,
      element_border_bottom: section.settings.border_bottom,
      element_border_top: section.settings.border_top,
      element_height_desktop: section.settings.height_desktop,
      element_height_mobile: section.settings.height_mobile,
      element_id: section_id,
      element_padding_bottom: section.settings.padding_bottom,
      element_padding_top: section.settings.padding_top
  %}

{%- endstyle -%}

<link rel="stylesheet" href="{{ 'section-404.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-404.css' | asset_url | stylesheet_tag }}</noscript>

<div class="{{ section_classes }}" id="{{ section_id }}">
  <div class="{{ section_name }}__main" id="{{ aos_id }}">
    <div class="{{ section_name }}__content text-colour--{{ text_colour }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}

            {%- when 'button' -%}

              {%- liquid
                assign button_background_colour = block.settings.button_background_colour | default: 'off-white'
                assign button_border_colour = block.settings.button_border_colour | default: 'off-black'
                assign button_link = block.settings.button_link | default: ''
                assign button_style = block.settings.button_style | default: 'primary'
                assign button_text_colour = block.settings.button_text_colour | default: 'off-black'
                assign button_title = block.settings.button_title | default: ''

                capture button_aos_attrs
                  render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-up'
                endcapture
                assign aos_delay = aos_delay | plus: aos_delay_increment
              -%}
              {% if button_link != blank and button_title != blank %}
                <div class="{{ section_name }}__cta" {{ button_aos_attrs }}>
                  {%- case button_style -%}
                    {%- when 'primary' -%}

                      {%- capture button_classes -%}
                        {{ section_name }}__button button--{{ button_style }} button--text-colour-{{ button_text_colour }}
                      {%- endcapture -%}
                      {%- capture inverted_corner_content -%}
                        {%- render 'link', classes: button_classes, link: button_link, title: button_title -%}
                      {%- endcapture -%}
                      {%-
                        render 'inverted-corner',
                          border_colour: button_border_colour,
                          background_colour: button_background_colour,
                          content: inverted_corner_content,
                          type: 'button'
                      -%}

                    {%- when 'secondary' -%}
                      {%- capture button_classes -%}
                        {{ section_name }}__button button--{{ button_style }}
                      {%- endcapture -%}
                      {%- render 'link', classes: button_classes, link: button_link, title: button_title -%}

                  {%- endcase -%}
                </div>
              {% endif %}

            {%- when 'heading' -%}

              {%- liquid
                  assign heading = block.settings.heading | default: ''
                  assign heading_size = block.settings.heading_size | default: 'primary'
                  capture aos_attrs
                    render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-up'
                  endcapture
                  assign aos_delay = aos_delay | plus: aos_delay_increment
              -%}
              {% if heading != blank %}
                <h1 class="{{ section_name }}__heading heading--tertiary heading--{{ heading_size }}" {{ aos_attrs }}>{{ heading | escape }}</h1>
              {% endif %}

             {%- when 'extra-adornment' -%}

              {%- liquid
                  assign image = block.settings.image | default: false
                  capture aos_attrs
                    render 'aos-attributes', anchor: aos_id, delay: aos_delay, transition: 'fade-left'
                  endcapture
                  assign aos_delay = aos_delay | plus: aos_delay_increment
              -%}
              {% if image %}
                <div class="{{ section_name }}__image" {{ aos_attrs }}>
                  {% render 'lazyload-image', image: image %}
                </div>
              {% endif %}

          {%- endcase -%}
        {%- endfor -%}
      </div>
  </div>
</div>

{% schema %}
{
  "name": "404",
  "tag": "section",
  "class": "section section--error-404 error-404",
  "settings": [
    {
      "content": "Height",
      "type": "header"
    },
    {
      "label": "Section Height (Desktop)",
      "type": "select",
      "options": [
        { "label": "Full Viewport Height", "value": "100vh" },
        { "label": "950px", "value": "950px" },
        { "label": "850px", "value": "850px" },
        { "label": "750px", "value": "750px" },
        { "label": "650px", "value": "650px" },
        { "label": "550px", "value": "550px" },
        { "label": "450px", "value": "450px" },
        { "label": "350px", "value": "350px" },
        { "label": "250px", "value": "250px" },
        { "label": "150px", "value": "150px" },
        { "label": "Auto", "value": "auto" }
      ],
      "default": "auto",
      "id": "height_desktop"
    },
    {
      "label": "Section Height (Mobile)",
      "type": "select",
      "options": [
        { "label": "Full Viewport Height", "value": "100vh" },
        { "label": "950px", "value": "950px" },
        { "label": "850px", "value": "850px" },
        { "label": "750px", "value": "750px" },
        { "label": "650px", "value": "650px" },
        { "label": "550px", "value": "550px" },
        { "label": "450px", "value": "450px" },
        { "label": "350px", "value": "350px" },
        { "label": "250px", "value": "250px" },
        { "label": "150px", "value": "150px" },
        { "label": "Auto", "value": "auto" }
      ],
      "default": "auto",
      "id": "height_mobile"
    },
    {
      "content": "Text Colour",
      "type": "header"
    },
    {
      "label": "Text Colour",
      "type": "select",
      "options": [
        { "label": "Off-black", "value": "off-black" },
        { "label": "Off-white", "value": "off-white" }
      ],
      "default": "off-black",
      "id": "text_colour"
    },
    {
      "content": "Background",
      "type": "header"
    },
    {
      "label": "Background",
      "type": "select",
      "options": [
        { "label": "Image", "value": "image" },
        { "label": "None", "value": "none" },
        { "label": "Off-black", "value": "off-black" },
        { "label": "Off-white", "value": "off-white" },
        { "label": "Rosa", "value": "rosa" },
        { "label": "Rosso", "value": "rosso" }
      ],
      "default": "none",
      "id": "background"
    },
    {
      "label": "Background Image",
      "type": "image_picker",
      "id": "background_image"
    },
    {
      "label": "Background Image Position (Desktop)",
      "type": "select",
      "options": [
        { "label": "Top Left", "value": "top left" },
        { "label": "Top Center", "value": "top center" },
        { "label": "Top Right", "value": "top right" },
        { "label": "Center Left", "value": "center left" },
        { "label": "Center Center", "value": "center center" },
        { "label": "Center Right", "value": "center right" },
        { "label": "Bottom Left", "value": "bottom left" },
        { "label": "Bottom Center", "value": "bottom center" },
        { "label": "Bottom Right", "value": "bottom right" }
      ],
      "default": "center center",
      "id": "background_image_position_desktop"
    },
    {
      "label": "Background Image Position (Mobile)",
      "type": "select",
      "options": [
        { "label": "Top Left", "value": "top left" },
        { "label": "Top Center", "value": "top center" },
        { "label": "Top Right", "value": "top right" },
        { "label": "Center Left", "value": "center left" },
        { "label": "Center Center", "value": "center center" },
        { "label": "Center Right", "value": "center right" },
        { "label": "Bottom Left", "value": "bottom left" },
        { "label": "Bottom Center", "value": "bottom center" },
        { "label": "Bottom Right", "value": "bottom right" }
      ],
      "default": "center center",
      "id": "background_image_position_mobile"
    },
    {
      "content": "Padding",
      "type": "header"
    },
    {
      "label": "Top Padding",
      "type": "range",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 36,
      "id": "padding_top"
    },
    {
      "label": "Bottom Padding",
      "type": "range",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 36,
      "id": "padding_bottom"
    },
    {
      "content": "Anchor",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    }
  ],
  "blocks": [
    {
      "name": "Button",
      "type": "button",
      "limit": 1,
      "settings": [
        {
          "label": "Button Title",
          "type": "text",
          "id": "button_title"
        },
        {
          "label": "Button Link",
          "type": "url",
          "id": "button_link"
        },
        {
          "label": "Button Style",
          "type": "select",
          "options": [
            { "label": "Primary", "value": "primary" },
            { "label": "Secondary", "value": "secondary" }
          ],
          "default": "primary",
          "id": "button_style"
        },
        {
          "label": "Button Background",
          "type": "select",
          "options": [
            { "label": "None", "value": "none" },
            { "label": "Off-black", "value": "off-black" },
            { "label": "Off-white", "value": "off-white" },
            { "label": "Rosa", "value": "rosa" },
            { "label": "Rosso", "value": "rosso" }
          ],
          "default": "none",
          "id": "button_background_colour"
        },
        {
          "label": "Button Border",
          "type": "select",
          "options": [
            { "label": "Off-black", "value": "off-black" },
            { "label": "Off-white", "value": "off-white" }
          ],
          "default": "off-black",
          "id": "button_border_colour"
        },
        {
          "label": "Button Text Colour",
          "type": "select",
          "options": [
            { "label": "Off-black", "value": "off-black" },
            { "label": "Off-white", "value": "off-white" }
          ],
          "default": "off-black",
          "id": "button_text_colour"
        }
      ]
    },
    {
      "name": "Extra Adornment",
      "type": "extra-adornment",
      "limit": 1,
      "settings": [
        {
          "label": "Image",
          "type": "image_picker",
          "id": "image"
        }
      ]
    },
    {
      "name": "Heading",
      "type": "heading",
      "limit": 1,
      "settings": [
        {
          "label": "Heading",
          "type": "textarea",
          "id": "heading"
        },
        {
          "label": "Heading Size",
          "type": "select",
          "options": [
            { "label": "Large", "value": "lg" },
            { "label": "Medium", "value": "md" },
            { "label": "Small", "value": "sm" },
            { "label": "Tiny", "value": "xs" }
          ],
          "default": "md",
          "id": "heading_size"
        }
      ]
    }
  ]
}
{% endschema %}
