{%- liquid

  assign section_name = 'age-gate'
  assign section_classes = section_name | append: " modal fade js--pop-up"
  assign section_id = 'shopify-section-' | append: section_name

  assign aos_id = section_id | append: '--aos'
  assign aos_delay = 250
  assign aos_delay_increment = 250

  assign background = section.settings.background | default: 'off-white'
  assign button_background_colour = section.settings.button_background_colour | default: 'off-white'
  assign button_border_colour = section.settings.button_border_colour | default: 'off-black'
  assign button_text_colour = section.settings.button_text_colour | default: 'off-black'
  assign button_title = section.settings.button_title | default: ''
  assign cookie_duration = section.settings.cookie_duration | default: 30
  assign delay = section.settings.delaySSS | default: 3500
  assign disclaimer_size = section.settings.disclaimer_size | default: 'xs'
  assign enable = section.settings.enable | default: false
  assign heading = section.settings.heading | default: 'Scuzi!'
  assign heading_size = section.settings.heading_size | default: 'md'
  assign message = section.settings.message | default: '<p>You confirm that you are of legal drinking age in your country of residence.</p>'
  assign message_size = section.settings.message_size | default: 'sm'
  assign message_style = section.settings.message_style | default: 'primary'
  assign modal_id = section_name
  assign text_colour = section.settings.text_colour | default: 'off-black'

-%}

{% if enable %}

  {{ 'section-age-gate.css' | asset_url | stylesheet_tag }}

  {%- style -%}
    #{{ section_id }} .modal {
      background: rgba(var(--theme-colour-{{ background }}), 1);
    }
  {%- endstyle -%}

  <div
    class="{{ section_classes }}"
    id="{{ modal_id }}"
    aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    data-cookie-duration="{{ cookie_duration }}"
    data-delay="{{ delay }}"
    data-priority="1"
  >
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="inverted-corner-box inverted-corner-box--background-{{ background }} inverted-corner-box--border-{{ text_colour }}">
            <div class="inverted-corner-box__content">

              <div class="{{ section_name }}__main text-colour--{{ text_colour }}">

                {% if heading != blank %}
                  <strong class="{{ section_name }}__heading heading--primary heading--{{ heading_size }}">{{ heading }}</strong>
                {% endif %}
                {% if message != blank %}
                  <div class="{{ section_name }}__message body-copy--{{ message_style }} body-copy--{{ message_size }}">{{ message }}</div>
                {% endif %}

                {% if button_title != blank %}
                  <div class="{{ section_name }}__cta">
                    {%- capture button_classes -%}
                      {{ section_name }}__button-enter button--primary text-colour--{{ button_text_colour }}
                    {%- endcapture -%}
                    {%- capture inverted_corner_box_content -%}
                      <button class="{{  button_classes }}" type="button" data-bs-toggle="modal" data-bs-target="#{{ modal_id }}" aria-label="Close">{{ button_title }}</button>
                    {%- endcapture -%}
                    {%-
                      render 'inverted-corner-box',
                      background: button_background_colour,
                      border: button_border_colour,
                      content: inverted_corner_box_content,
                      type: 'button'
                    -%}
                  </div>
                {%- endif -%}

                <div class="{{ section_name }}__disclaimer body-copy--primary body-copy--{{ disclaimer_size }}">We will save your choice for {{ cookie_duration }} days</div>

              </div>

            </div>
          </div>

      </div>
    </div>
  </div>

{% endif %}

{% schema %}
{
  "name": "Age Gate",
  "tag": "section",
  "class": "section section--age-gate age-gate",
  "settings": [
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Enable",
      "type": "checkbox",
      "default": true,
      "id": "enable"
    },
    {
      "label": "Delay",
      "info": "Length of time (in milliseconds) before popup is shown.",
      "type": "range",
      "min": 3000,
      "max": 8000,
      "step": 250,
      "default": 4000,
      "id": "delay"
    },
    {
      "label": "Cookie Duration",
      "info": "Length of time (in days) before cookie expires and user is re-prompted. Expiry date is assigned per browser and per device.",
      "type": "range",
      "min": 30,
      "max": 150,
      "step": 5,
      "default": 30,
      "id": "cookie_duration"
    },
    {
      "content": "Content",
      "type": "header"
    },
    {
      "content": "Heading",
      "type": "paragraph"
    },
    {
      "label": "Heading",
      "type": "text",
      "id": "heading"
    },
    {
      "label": "Heading Size",
      "type": "select",
      "options": [
        { "label": "Large", "value": "lg" },
        { "label": "Medium", "value": "md" },
        { "label": "Small", "value": "sm" },
        { "label": "Tiny", "value": "xs" }
      ],
      "default": "md",
      "id": "heading_size"
    },
    {
      "content": "Message",
      "type": "paragraph"
    },
    {
      "label": "Message",
      "type": "richtext",
      "id": "message"
    },
    {
      "label": "Message Style",
      "type": "select",
      "options": [
        { "label": "Primary", "value": "primary" },
        { "label": "Secondary", "value": "secondary" },
        { "label": "Tertiary", "value": "tertiary" }
      ],
      "default": "primary",
      "id": "message_style"
    },
    {
      "label": "Message Size",
      "type": "select",
      "options": [
        { "label": "Large", "value": "lg" },
        { "label": "Medium", "value": "md" },
        { "label": "Small", "value": "sm" },
        { "label": "Tiny", "value": "xs" },
        { "label": "Fine Print", "value": "xxs" }
      ],
      "default": "md",
      "id": "message_size"
    },
    {
      "content": "Button",
      "type": "paragraph"
    },
    {
      "label": "Button Title",
      "type": "text",
      "id": "button_title"
    },
    {
      "label": "Button Background",
      "type": "select",
      "options": [
        { "label": "Off-black", "value": "off-black" },
        { "label": "Off-white", "value": "off-white" },
        { "label": "Rosa", "value": "rosa" },
        { "label": "Rosso", "value": "rosso" }
      ],
      "default": "off-white",
      "id": "button_background_colour"
    },
    {
      "label": "Button Border",
      "type": "select",
      "options": [
        { "label": "Off-black", "value": "off-black" },
        { "label": "Off-white", "value": "off-white" }
      ],
      "default": "off-black",
      "id": "button_border_colour"
    },
    {
      "label": "Button Text Colour",
      "type": "select",
      "options": [
        { "label": "Off-black", "value": "off-black" },
        { "label": "Off-white", "value": "off-white" }
      ],
      "default": "off-black",
      "id": "button_text_colour"
    },
    {
      "content": "Disclaimer",
      "type": "paragraph"
    },
    {
      "label": "Disclaimer Size",
      "type": "select",
      "options": [
        { "label": "Large", "value": "lg" },
        { "label": "Medium", "value": "md" },
        { "label": "Small", "value": "sm" },
        { "label": "Tiny", "value": "xs" },
        { "label": "Fine Print", "value": "xxs" }
      ],
      "default": "xs",
      "id": "disclaimer_size"
    },
    {
      "content": "Style",
      "type": "header"
    },
    {
      "label": "Text Colour",
      "type": "select",
      "options": [
        { "label": "Off-black", "value": "off-black" },
        { "label": "Off-white", "value": "off-white" }
      ],
      "default": "off-black",
      "id": "text_colour"
    },
    {
      "label": "Background",
      "type": "select",
      "options": [
        { "label": "Off-black", "value": "off-black" },
        { "label": "Off-white", "value": "off-white" },
        { "label": "Rosa", "value": "rosa" },
        { "label": "Rosso", "value": "rosso" }
      ],
      "default": "off-white",
      "id": "background"
    }
  ]
}
{% endschema %}
