{%- liquid

  assign section_name = 'cookie-notice'
  assign section_classes = section_name
  assign section_id = 'shopify-section-' | append: section_name

  assign aos_id = section_id | append: '--aos'
  assign aos_delay = 250
  assign aos_delay_increment = 250

  assign background = section.settings.background | default: 'off-black'
  assign border_colour = section.settings.border_colour | default: 'off-white'
  assign button_background_colour = section.settings.button_background_colour | default: 'off-white'
  assign button_border_colour = section.settings.button_border_colour | default: 'off-black'
  assign button_text_colour = section.settings.button_text_colour | default: 'off-black'
  assign button_title = section.settings.button_title | default: 'Accept'
  assign cookie_duration = section.settings.cookie_duration | default: 30
  assign delay = section.settings.delay | default: 3000
  assign enable = section.settings.enable | default: false
  assign heading = section.settings.heading | default: ''
  assign message = section.settings.message | default: ''
  assign modal_id = section_name
  assign text_colour = section.settings.text_colour | default: 'off-white'

-%}

{% if enable %}

  {{ 'section-cookie-notice.css' | asset_url | stylesheet_tag }}

  {%- style -%}
    {%
      render 'element-styles',
        element_background: background,
        element_id: section_id
    %}
  {%- endstyle -%}

  <div
    class="{{ section_name }}__main"
    id="{{ section_id }}"
    data-cookie-duration="{{ cookie_duration }}"
    data-delay="{{ delay }}"
  >

    <div class="inverted-corner-box inverted-corner-box--background-{{ background }} inverted-corner-box--border-{{ border_colour }}">
      <div class="inverted-corner-box__content">

        <div class="{{ section_name }}__layout">

          <div class="{{ section_name }}__content text-colour--{{ text_colour }}">
            {% if heading != blank %}
              <strong class="{{ section_name }}__heading heading--primary">{{ heading }}</strong>
            {% endif %}
            {% if message != blank %}
              <div class="{{ section_name }}__message body-copy--primary">{{ message }}</div>
            {% endif %}
          </div>

          {% if button_title != blank %}
            <div class="{{ section_name }}__cta">
              {%- capture button_classes -%}
                {{ section_name }}__button-accept button--primary text-colour--{{ button_text_colour }}
              {%- endcapture -%}
              {%- capture inverted_corner_box_content -%}
                <button class="{{  button_classes }}" type="button" data-target="#shopify-section-cookie-popup" aria-label="Accept">{{ button_title }}</button>
              {%- endcapture -%}
              {%-
                render 'inverted-corner-box',
                background: button_background_colour,
                border: button_border_colour,
                content: inverted_corner_box_content,
                type: 'button'
              -%}
            </div>
          {%- endif -%}

        </div>

      </div>
    </div>
  </div>

{% endif %}

{% schema %}
{
  "name": "Cookie Pop-up",
  "tag": "section",
  "class": "section section--cookie-notice cookie-notice",
  "settings": [
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Enable",
      "type": "checkbox",
      "default": true,
      "id": "enable"
    },
    {
      "label": "Delay",
      "info": "Length of time (in milliseconds) before notice is shown.",
      "type": "range",
      "min": 3000,
      "max": 8000,
      "step": 250,
      "default": 3000,
      "id": "delay"
    },
    {
      "label": "Cookie Duration",
      "info": "Length of time (in days) before cookie expires and user is re-prompted. Expiry date is assigned per browser and per device.",
      "type": "range",
      "min": 30,
      "max": 150,
      "step": 5,
      "default": 30,
      "id": "cookie_duration"
    },
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Heading",
      "type": "text",
      "default": "Biscotto!",
      "id": "heading"
    },
    {
      "label": "Message",
      "type": "richtext",
      "default": "<p>We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information that you’ve provided to them or that they’ve collected from your use of their services.</p>",
      "id": "message"
    },
    {
      "content": "Button",
      "type": "paragraph"
    },
    {
      "label": "Button Title",
      "type": "text",
      "id": "button_title"
    },
    {
      "label": "Button Background",
      "type": "select",
      "options": [
        { "label": "Off-black", "value": "off-black" },
        { "label": "Off-white", "value": "off-white" },
        { "label": "Rosa", "value": "rosa" },
        { "label": "Rosso", "value": "rosso" }
      ],
      "default": "off-white",
      "id": "button_background_colour"
    },
    {
      "label": "Button Border",
      "type": "select",
      "options": [
        { "label": "Off-black", "value": "off-black" },
        { "label": "Off-white", "value": "off-white" }
      ],
      "default": "off-black",
      "id": "button_border_colour"
    },
    {
      "label": "Button Text Colour",
      "type": "select",
      "options": [
        { "label": "Off-black", "value": "off-black" },
        { "label": "Off-white", "value": "off-white" }
      ],
      "default": "off-black",
      "id": "button_text_colour"
    },
    {
      "content": "Style",
      "type": "header"
    },
    {
      "label": "Text Colour",
      "type": "select",
      "options": [
        { "label": "Off-black", "value": "off-black" },
        { "label": "Off-white", "value": "off-white" }
      ],
      "default": "off-white",
      "id": "text_colour"
    },
    {
      "label": "Border Colour",
      "type": "select",
      "options": [
        { "label": "Off-black", "value": "off-black" },
        { "label": "Off-white", "value": "off-white" }
      ],
      "default": "off-white",
      "id": "border_colour"
    },
    {
      "label": "Background",
      "type": "select",
      "options": [
        { "label": "Off-black", "value": "off-black" },
        { "label": "Off-white", "value": "off-white" },
        { "label": "Rosa", "value": "rosa" },
        { "label": "Rosso", "value": "rosso" }
      ],
      "default": "off-black",
      "id": "background"
    }
  ]
}
{% endschema %}
