{%- liquid

  assign section_name = 'featured-products'
  assign section_classes = section_name
  assign section_id = section_name | append: '--' | append: section.id

  assign aos_id = section_id | append: '--aos'
  assign aos_delay = 250
  assign aos_delay_increment = 250

  assign container = section.settings.container | default: 'container'
  assign grid_gutter = section.settings.grid_gutter | default: 20
  assign grid_layout = section.settings.grid_layout | default: 'two-column'
  assign products = section.blocks | where: 'type', 'product' | default: false
  assign product_image_aspect_ratio = section.settings.product_image_aspect_ratio | default: ''

  if section.settings.anchor_id != blank
    assign section_id = section.settings.anchor_id
  endif

-%}

{% if products and products.size > 0 %}

  {%- style -%}

    {% if product_image_aspect_ratio and product_image_aspect_ratio != blank %}
      #{{ section_id }} .{{ section_name }}__product-image,
      #{{ section_id }} .{{ section_name }}__product-image-link {
        aspect-ratio: {{ product_image_aspect_ratio }};
      }
      #{{ section_id }} .{{ section_name }}__product-image img,
      #{{ section_id }} .{{ section_name }}__product-image svg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    {% endif %}

    {% if grid_gutter and grid_gutter > 0 %}
      #{{ section_id }} .{{ section_name }}__layout {
        gap: {{ grid_gutter }}px;
      }
    {% endif %}

    {%
      render 'element-styles',
        element_background: "off-white",
        element_border_bottom: section.settings.border_bottom,
        element_border_top: section.settings.border_top,
        element_id: section_id,
        element_padding_bottom: section.settings.padding_bottom,
        element_padding_top: section.settings.padding_top
    %}

  {%- endstyle -%}

  <link rel="stylesheet" href="{{ 'section-featured-products.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'section-featured-products.css' | asset_url | stylesheet_tag }}</noscript>

  <div
    {%-
      render 'element-attrs',
        element_class: section_classes,
        element_id: section_id
    -%}
  >
    {% render 'bs-container', state: 'open', col: 'col-12', container: container %}

      <div class="{{ section_name }}__layout grid grid--{{ grid_layout }} grid--gap-{{ grid_gutter }}" role="list">

        {% if products and products.size > 0 %}
          {% for item in products %}

            {%- liquid

              assign item_id = section_id | prepend: 'product--' | append: forloop.index

              assign button_background_colour = item.settings.button_background_colour | default: 'off-white'
              assign button_border_colour = item.settings.button_border_colour | default: 'off-black'
              assign button_link = item.settings.button_link | default: ''
              assign button_text_colour = item.settings.button_text_colour | default: 'off-black'
              assign button_title = item.settings.button_title | default: ''

              assign item_product = item.settings.product | default: false
              assign item_product_image = item_product.featured_image | default: false

              if item.settings.product_image
                assign item_product_image = item.settings.product_image
              endif

              capture aos_attrs_product
                render 'aos-attributes', anchor: item_id, delay: aos_delay, transition: 'fade-up'
              endcapture
              assign aos_delay = aos_delay | plus: aos_delay_increment

              capture aos_attrs_cta
                render 'aos-attributes', anchor: item_id, delay: aos_delay, transition: 'fade-left'
              endcapture
              assign aos_delay = aos_delay | plus: aos_delay_increment

            -%}

            {% if item_product != blank %}
              <div class="{{ section_name }}__item grid__item" id="{{ item_id }}" data-index="{{ forloop.index }}" role="listitem">

                <div class="{{ section_name }}__product" {{ aos_attrs_product }}>
                  {% if item_product_image != blank %}
                    <div class="{{ section_name }}__product-image">
                      {% render 'lazyload-image', image: item_product_image %}
                    </div>
                  {% endif %}
                </div>

                {% if button_link != blank and button_title != blank %}
                  <div class="{{ section_name }}__cta" {{ aos_attrs_cta }}>

                    {%- capture button_classes -%}
                      {{ section_name }}__button button--primary button--text-colour-{{ button_text_colour }}
                    {%- endcapture -%}
                    {%- capture inverted_corner_content -%}
                      {%- render 'link', classes: button_classes, link: button_link, title: button_title -%}
                    {%- endcapture -%}
                    {%-
                      render 'inverted-corner',
                        border_colour: button_border_colour,
                        background_colour: button_background_colour,
                        content: inverted_corner_content,
                        type: 'button'
                    -%}

                  </div>
                {% endif %}

              </div>
            {% endif %}

          {% endfor %}
        {% endif %}

      </div>
    {% render 'bs-container', state: 'closed', container: container %}
  </div>

{% endif %}

{% schema %}
{
  "name": "Featured Products",
  "tag": "section",
  "class": "section section--featured-products",
  "settings": [
    {
      "content": "Products",
      "type": "header"
    },
    {
      "label": "Image Aspect Ratio",
      "info": "Optionally include an aspect ratio to override the default image sizes. Useful when default image sizes between products are different.",
      "type": "text",
      "id": "product_image_aspect_ratio"
    },
    {
      "content": "Border",
      "type": "header"
    },
    {
      "label": "Top Border",
      "type": "checkbox",
      "default": true,
      "id": "border_top"
    },
    {
      "label": "Bottom Border",
      "type": "checkbox",
      "default": false,
      "id": "border_bottom"
    },
    {
      "label": "Container",
      "type": "select",
      "options": [
        {
          "label": "Static",
          "value": "container"
        },
        {
          "label": "Fluid",
          "value": "container-fluid"
        },
        {
          "label": "Full Width",
          "value": "full-width"
        }
      ],
      "default": "container",
      "id": "container"
    },
    {
      "content": "Grid",
      "type": "header"
    },
    {
      "label": "Grid Layout",
      "type": "select",
      "options": [
        {
          "value": "two-column",
          "label": "Two Column"
        },
        {
          "value": "three-column",
          "label": "Three Column"
        }
      ],
      "default": "two-column",
      "id": "grid_layout"
    },
    {
      "label": "Grid Gutter",
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 20,
      "id": "grid_gutter"
    },
    {
      "content": "Padding",
      "type": "header"
    },
    {
      "label": "Top Padding",
      "type": "range",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 36,
      "id": "padding_top"
    },
    {
      "label": "Bottom Padding",
      "type": "range",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 36,
      "id": "padding_bottom"
    },
    {
      "content": "Anchor",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    }
  ],
  "blocks": [
    {
      "name": "Product",
      "type": "product",
      "limit": 3,
      "settings": [
        {
          "content": "Product",
          "type": "header"
        },
        {
          "label": "Product",
          "type": "product",
          "id": "product"
        },
        {
          "label": "Product Image",
          "info": "Optionally use a different product image. By default, the first image in the product's gallery will automatically be used.",
          "type": "image_picker",
          "id": "product_image"
        },
        {
          "content": "Button",
          "type": "header"
        },
        {
          "label": "Button Title",
          "type": "text",
          "id": "button_title"
        },
        {
          "label": "Button Link",
          "type": "url",
          "id": "button_link"
        },
        {
          "label": "Button Background",
          "type": "select",
          "options": [
            { "label": "None", "value": "none" },
            { "label": "Off-black", "value": "off-black" },
            { "label": "Off-white", "value": "off-white" },
            { "label": "Rosa", "value": "rosa" },
            { "label": "Rosso", "value": "rosso" }
          ],
          "default": "none",
          "id": "button_background_colour"
        },
        {
          "label": "Button Border",
          "type": "select",
          "options": [
            { "label": "Off-black", "value": "off-black" },
            { "label": "Off-white", "value": "off-white" }
          ],
          "default": "off-black",
          "id": "button_border_colour"
        },
        {
          "label": "Button Text Colour",
          "type": "select",
          "options": [
            { "label": "Off-black", "value": "off-black" },
            { "label": "Off-white", "value": "off-white" }
          ],
          "default": "off-black",
          "id": "button_text_colour"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}
