{%- liquid

  assign section_name = 'featured-reviews'
  assign section_classes = section_name
  assign section_id = section_name | append: '--' | append: section.id

  assign aos_id = section_id | append: '--aos'
  assign aos_delay = 250
  assign aos_delay_increment = 250

  assign container = section.settings.container | default: 'container'

  assign carousel = false
  assign carousel_animation_duration = section.settings.carousel_animation_duration | default: 450
  assign carousel_autoplay = section.settings.carousel_autoplay | default: 3500
  assign carousel_gap = section.settings.carousel_gap | default: 28
  assign carousel_id = section_id | append: '--glide'
  assign carousel_style = section_name

  assign grid_gutter = section.settings.grid_gutter | default: 28
  assign grid_layout = section.settings.grid_layout | default: 'two-column'

  assign reviews = section.blocks | where: 'type', 'review' | default: false

  if section.settings.anchor_id != blank
    assign section_id = section.settings.anchor_id
  endif

-%}

{% if reviews and reviews.size > 0 %}

  {%- style -%}

    {%
      render 'element-styles',
        element_background: section.settings.background,
        element_background_image: section.settings.background_image,
        element_background_image_position_desktop: section.settings.background_image_position_desktop,
        element_background_image_position_mobile: section.settings.background_image_position_mobile,
        element_border_bottom: section.settings.border_bottom,
        element_border_top: section.settings.border_top,
        element_id: section_id,
        element_padding_bottom: section.settings.padding_bottom,
        element_padding_top: section.settings.padding_top
    %}

  {%- endstyle -%}

  <link rel="stylesheet" href="{{ 'section-featured-reviews.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'section-featured-reviews.css' | asset_url | stylesheet_tag }}</noscript>

  <div class="{{ section_classes }}" id="{{ section_id }}">
    {% render 'bs-container', state: 'open', col: 'col-12', container: container %}

      <div class="{{ section_name }}__grid grid grid--{{ grid_layout }} grid--gap-{{ grid_gutter }} d-none d-lg-grid" role="list">
        {% for item in reviews %}
          <div class="{{ section_name }}__item grid__item" data-index="{{ forloop.index }}" role="listitem">

            {%- liquid
              assign background = item.settings.background | default: 'off-white'
              assign background_image = item.settings.background_image | default: false
              assign item_id = 'inverted-corner-box--desktop-' | append: item.id
            -%}
            {%- capture inverted_corner_box_content -%}
              {%- render 'card-review', card_review: item, index: forloop.index, section_id: section.id -%}
            {%- endcapture -%}
            {%-
              render 'inverted-corner-box',
                background: background,
                border: 'off-black',
                content: inverted_corner_box_content,
                id: item_id
                image: background_image,
                type: 'review'
            -%}

          </div>
        {% endfor %}
      </div>


       <div
          class="{{ section_name }}__glide glide js--glide d-block d-lg-none"
          id="{{ carousel_id }}"
          data-glide-animation-duration="{{ carousel_animation_duration }}"
          data-glide-autoplay="{{ carousel_autoplay }}"
          data-glide-gap="{{ carousel_gap }}"
          data-glide-style="{{ section_name }}"
          data-glide-item-border
        >
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            {% for item in reviews %}
              <li class="glide__slide">
                <div class="{{ section_name }}__item" data-index="{{ forloop.index }}">

                  {%- liquid
                    assign background = item.settings.background | default: 'off-white'
                    assign background_image = item.settings.background_image | default: false
                    assign item_id = 'inverted-corner-box--mobile-' | append: item.id
                  -%}
                  {%- capture inverted_corner_box_content -%}
                    {%- render 'card-review', card_review: item, index: forloop.index, section_id: section.id -%}
                  {%- endcapture -%}
                  {%-
                    render 'inverted-corner-box',
                      background: background,
                      border: 'off-black',
                      content: inverted_corner_box_content,
                      id: item_id
                      image: background_image,
                      type: 'review'
                  -%}

                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

    {% render 'bs-container', state: 'closed', container: container %}
  </div>

{% endif %}

{% schema %}
{
  "name": "Featured Reviews",
  "tag": "section",
  "class": "section section--featured-reviews",
  "settings": [
    {
      "content": "Carousel",
      "type": "header"
    },
    {
      "label": "Carousel Autoplay",
      "info": "Time in milliseconds before a slide changes. Set to '0' to disable autoplay.",
      "type": "range",
      "min": 0,
      "max": 8000,
      "step": 250,
      "default": 3000,
      "id": "carousel_autoplay"
    },
    {
      "label": "Carousel Animation Duration",
      "info": "Duration of the slide transition animation in milliseconds.",
      "type": "range",
      "min": 250,
      "max": 3500,
      "step": 50,
      "default": 450,
      "id": "carousel_animation_duration"
    },
    {
      "label": "Carousel Slide Gap",
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 20,
      "id": "carousel_gap"
    },
    {
      "content": "Border",
      "type": "header"
    },
    {
      "label": "Top Border",
      "type": "checkbox",
      "default": true,
      "id": "border_top"
    },
    {
      "label": "Bottom Border",
      "type": "checkbox",
      "default": false,
      "id": "border_bottom"
    },
    {
      "label": "Background",
      "type": "select",
      "options": [
        { "label": "Image", "value": "image" },
        { "label": "None", "value": "none" },
        { "label": "Off-black", "value": "off-black" },
        { "label": "Off-white", "value": "off-white" },
        { "label": "Rosa", "value": "rosa" },
        { "label": "Rosso", "value": "rosso" }
      ],
      "default": "none",
      "id": "background"
    },
    {
      "label": "Background Image",
      "type": "image_picker",
      "id": "background_image"
    },
    {
      "label": "Background Image Position (Desktop)",
      "type": "select",
      "options": [
        { "label": "Top Left", "value": "top left" },
        { "label": "Top Center", "value": "top center" },
        { "label": "Top Right", "value": "top right" },
        { "label": "Center Left", "value": "center left" },
        { "label": "Center Center", "value": "center center" },
        { "label": "Center Right", "value": "center right" },
        { "label": "Bottom Left", "value": "bottom left" },
        { "label": "Bottom Center", "value": "bottom center" },
        { "label": "Bottom Right", "value": "bottom right" }
      ],
      "default": "center center",
      "id": "background_image_position_desktop"
    },
    {
      "label": "Background Image Position (Mobile)",
      "type": "select",
      "options": [
        { "label": "Top Left", "value": "top left" },
        { "label": "Top Center", "value": "top center" },
        { "label": "Top Right", "value": "top right" },
        { "label": "Center Left", "value": "center left" },
        { "label": "Center Center", "value": "center center" },
        { "label": "Center Right", "value": "center right" },
        { "label": "Bottom Left", "value": "bottom left" },
        { "label": "Bottom Center", "value": "bottom center" },
        { "label": "Bottom Right", "value": "bottom right" }
      ],
      "default": "center center",
      "id": "background_image_position_mobile"
    },
    {
      "label": "Container",
      "type": "select",
      "options": [
        {
          "label": "Static",
          "value": "container"
        },
        {
          "label": "Fluid",
          "value": "container-fluid"
        },
        {
          "label": "Full Width",
          "value": "full-width"
        }
      ],
      "default": "container",
      "id": "container"
    },
    {
      "content": "Grid",
      "type": "header"
    },
    {
      "label": "Grid Layout",
      "type": "select",
      "options": [
        { "value": "two-column", "label": "Two Column" },
        { "value": "three-column", "label": "Three Column" }
      ],
      "default": "two-column",
      "id": "grid_layout"
    },
    {
      "label": "Grid Gutter",
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 20,
      "id": "grid_gutter"
    },
    {
      "content": "Padding",
      "type": "header"
    },
    {
      "label": "Top Padding",
      "type": "range",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 36,
      "id": "padding_top"
    },
    {
      "label": "Bottom Padding",
      "type": "range",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 36,
      "id": "padding_bottom"
    },
    {
      "content": "Anchor",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    }
  ],
  "blocks": [
    {
      "name": "Review",
      "type": "review",
      "limit": 12,
      "settings": [
        {
          "label": "Review",
          "type": "textarea",
          "id": "review"
        },
        {
          "label": "Reviewer Logo",
          "type": "image_picker",
          "id": "reviewer_logo"
        },
        {
          "label": "Rating",
          "type": "range",
          "min": 0,
          "max": 10,
          "step": 1,
          "default": 5,
          "id": "rating"
        },
        {
          "label": "Background",
          "type": "select",
          "options": [
            { "label": "Image", "value": "image" },
            { "label": "None", "value": "none" },
            { "label": "Off-black", "value": "off-black" },
            { "label": "Off-white", "value": "off-white" },
            { "label": "Rosa", "value": "rosa" },
            { "label": "Rosso", "value": "rosso" }
          ],
          "default": "none",
          "id": "background"
        },
        {
          "label": "Background Image",
          "type": "image_picker",
          "id": "background_image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Reviews"
    }
  ]
}
{% endschema %}
