{%- liquid

  assign section_name = 'password'
  assign section_classes = section_name
  assign section_id = 'shopify-section-' | append: section.id

  assign section_background = 'rosso'
  assign section_container = section.settings.container | default: 'container'
  assign section_text_colour = 'off-white'

-%}

{%- style -%}
  {%
    render 'element-styles',
      element_background: section_background,
      element_id: section_id,
  %}
{%- endstyle -%}

<div class="{{ section_classes }}">
  <div class="{{ section_name }}__main">
    {% render 'bs-container', state: 'open', col: 'col-12 col-lg-6 offset-lg-3', container: section_container %}
      <div class="{{ section_name }}__layout text-colour--{{ section_text_colour }}">

        <div class="{{ section_name }}__form">
          {%- form 'storefront_password', class: 'password-form' -%}
            <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
              <input
                type="password"
                name="password"
                id="Password"
                class="input--primary input"
                autocomplete="current-password"
                {% if form.errors %}
                  aria-invalid="true"
                  aria-describedby="PasswordLoginForm-password-error"
                {%- endif -%}
                placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
              >
              {%- if form.errors -%}
                <div id="PasswordLoginForm-password-error" class="body-copy--primary body-copy--md" role="status">
                  <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                  <p class="form__message" style="margin-bottom: 15px;">{{ 'general.password_page.login_form_error' | t }}</p>
                </div>
              {%- endif -%}
            </div>

            <div class="inverted-corner-box inverted-corner-box--background-off-white inverted-corner-box--border-off-white inverted-corner-box--button">
              <div class="inverted-corner-box__content">
                <button name="commit" class="password__button button--primary button--text-colour-off-black">
                  <span class="button__title">{{ 'general.password_page.login_form_submit' | t }}</span>
                </button>
              </div>
            </div>

          {%- endform -%}
         </div>

        <div class="{{ section_name }}__cta body-copy--primary body-copy--md">
          <p class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</p>
        </div>

      </div>
    {% render 'bs-container', state: 'closed', col: 'col-12 col-lg-6 offset-lg-3', container: section_container %}
  </div>
</div>

{% schema %}
{
  "name": "Password",
  "tag": "section",
  "class": "section section--password",
  "settings": [],
  "blocks": []
}
{% endschema %}
