{%- liquid

  assign section_name = 'list-collections'
  assign section_classes = section_name | append: ' section-' | append: section.id | append: '-padding'
  assign section_id = section_name | append: '--' | append: section.id

  assign aos_id = section_id | append: '--aos'

  assign container = section.settings.container | default: 'container'
  assign grid_gutter = section.settings.grid_gutter | default: 20
  assign grid_layout = section.settings.grid_layout | default: 'two-column'
  assign title = section.settings.title | default: 'Collections'

  if section.settings.anchor_id != blank
    assign section_id = section.settings.anchor_id
  endif

  case section.settings.sort
    when 'products_high' or 'products_low'
      assign collections = collections | sort: 'all_products_count'
    when 'date' or 'date_reversed'
      assign collections = collections | sort: 'published_at'
  endcase

  if section.settings.sort == 'products_high' or section.settings.sort == 'date_reversed' or section.settings.sort == 'alphabetical_reversed'
    assign collections = collections | reverse
  endif

-%}

{%
  render 'section-styles',
  background: section.settings.background,
  id: section.id,
  padding_bottom: section.settings.padding_bottom
  padding_top: section.settings.padding_top,
%}

<div class="{{ section_classes }}" id="{{ section_id }}">
  {% render 'bs-container', state: 'open', col: 'col-12 col-lg-10 offset-lg-1', container: container %}
    <h1 class="{{ section_name }}__heading heading--1">{{ title | escape }}</h1>
    <div class="{{ section_name }}__layout grid grid--{{ grid_layout }} grid--gap-{{ grid_gutter }}" id="{{ aos_id }}" role="list">
      {%- for item in collections -%}
        <div class="{{ section_name }}__item grid__item" data-index="{{ forloop.index }}" role="listitem">
          {% render 'card-collection', card_collection: item %}
        </div>
      {%- endfor -%}
    </div>
  {% render 'bs-container', state: 'closed' %}
</div>

{% schema %}
{
  "name": "List Collections",
  "tag": "section",
  "class": "section section--list-collections",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Title",
      "type": "text",
      "default": "Collections",
      "id": "title"
    },
    {
      "label": "Sort",
      "type": "select",
      "options": [
        {
          "label": "Alphabetically, A-Z",
          "value": "alphabetical"
        },
        {
          "label": "Alphabetically, Z-A",
          "value": "alphabetical_reversed"
        },
        {
          "label": "Date, new to old",
          "value": "date_reversed"
        },
        {
          "label": "Date, old to new",
          "value": "date"
        },
        {
          "label": "Product count, high to low",
          "value": "products_high"
        },
        {
          "label": "Product count, low to high",
          "value": "products_low"
        }
      ],
      "default": "alphabetical",
      "id": "sort"
    },
    {
      "content": "Background",
      "type": "header"
    },
    {
          "label": "Background",
          "type": "select",
          "options": [
            { "label": "Image", "value": "image" },
            { "label": "None", "value": "none" },
            { "label": "Off-black", "value": "off-black" },
            { "label": "Off-white", "value": "off-white" },
            { "label": "Rosa", "value": "rosa" },
            { "label": "Rosso", "value": "rosso" }
          ],
          "default": "none",
          "id": "background"
        },
    {
      "label": "Background Image",
      "type": "image_picker",
      "id": "background_image"
    },
    {
      "label": "Container",
      "type": "select",
      "options": [
        {
          "label": "Static",
          "value": "container"
        },
        {
          "label": "Fluid",
          "value": "container-fluid"
        },
        {
          "label": "Full Width",
          "value": "full-width"
        }
      ],
      "default": "container",
      "id": "container"
    },
    {
      "content": "Grid",
      "type": "header"
    },
    {
      "label": "Grid Layout",
      "type": "select",
      "options": [
        {
          "value": "two-column",
          "label": "Two Column"
        },
        {
          "value": "three-column",
          "label": "Three Column"
        }
      ],
      "default": "two-column",
      "id": "grid_layout"
    },
    {
      "label": "Grid Gutter",
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 20,
      "id": "grid_gutter"
    },
    {
      "content": "Padding",
      "type": "header"
    },
    {
      "label": "Top Padding",
      "type": "range",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 36,
      "id": "padding_top"
    },
    {
      "label": "Bottom Padding",
      "type": "range",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 36,
      "id": "padding_bottom"
    },
    {
      "content": "Anchor",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    }
  ]
}
{% endschema %}
