{%- liquid

  assign section_name = 'product'
  assign section_classes = section_name
  assign section_id = section_name | append: '--' | append: section.id

  assign aos_id = section_id | append: '--aos'
  assign aos_delay = 250
  assign aos_delay_increment = 250

  assign container = section.settings.container | default: 'container'

  assign carousel = false
  assign carousel_animation_duration = section.settings.carousel_animation_duration | default: 450
  assign carousel_autoplay = section.settings.carousel_autoplay | default: 3500
  assign carousel_gap = section.settings.carousel_gap | default: 28
  assign carousel_id = section_id | append: '--glide'
  assign carousel_pagination = section.settings.carousel_pagination | default: false
  assign carousel_style = 'product-carousel'

  assign product_description = product.description | default: ''
  assign product_images = product.images | default: false
  assign product_image_aspect_ratio = section.settings.product_image_aspect_ratio | default: ''
  assign product_image_border_enable = section.settings.product_image_border_enable | default: ''
  assign product_price = product.price | default: ''
  assign product_title = product.title | default: ''
  assign product_type = product.type | default: ''

  if section.settings.anchor_id != blank
    assign section_id = section.settings.anchor_id
  endif

  if product_images and product.images.size > 1
    assign carousel = true
  endif

-%}

{%- style -%}

  {% if product_image_aspect_ratio and product_image_aspect_ratio != blank %}
    #{{ section_id }} .product__image,
    #{{ section_id }} .product__image-link {
      aspect-ratio: {{ product_image_aspect_ratio }};
    }
  {% endif %}

  {%
    render 'element-styles',
      element_border_bottom: section.settings.border_bottom,
      element_border_top: section.settings.border_top,
      element_id: section_id,
      element_padding_bottom: section.settings.padding_bottom,
      element_padding_top: section.settings.padding_top
  %}

{%- endstyle -%}

<div class="{{ section_classes }}" id="{{ section_id }}" itemscope itemtype="http://schema.org/Product">
  {%- form 'product', product, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
    {%- render 'bs-container', state: 'open', col: 'col-12', container: container -%}
      <div class="{{ section_name }}__main text-colour--dark">

        <div class="{{ section_name }}__info d-block d-lg-none">
          <h1 class="{{ section_name }}__title heading--primary heading--lg">{{ product_title }}</h1>
          <div class="{{ section_name }}__price body-copy--primary body-copy--lg">{{ product_price | money_with_currency }}</div>
        </div>

        {% if product_images and product_images.size > 0 %}
          <div
            class="{{ section_name }}__gallery{% if carousel %} glide js--glide{% endif %}"
            {% if carousel %}id="{{ carousel_id }}"{% endif %}
            {% if carousel %}
              data-glide-animation-duration="{{ carousel_animation_duration }}"
              data-glide-autoplay="{{ carousel_autoplay }}"
              data-glide-gap="{{ carousel_gap }}"
              data-glide-style="{{ carousel_style }}"
            {% endif %}
            {%- if product_image_border_enable -%}data-glide-item-border{%- endif -%}
          >

            {% if carousel %}<div class="glide__track" data-glide-el="track">{%- endif -%}
              {% if carousel %}<ul class="glide__slides">{%- endif -%}

                {%- for image in product_images -%}
                  {% if carousel %}<li class="glide__slide">{%- endif -%}
                    <div class="{{ section_name }}__image">
                      {% if product_image_border_enable %}
                        {%- assign image_id = 'inverted-corner-box--' | append: image.id -%}
                        {%-
                          render 'inverted-corner-box',
                          background: 'image',
                          border: 'off-black',
                          content: inverted_corner_box_content,
                          id: image_id,
                          image: image,
                          type: 'image'
                        -%}
                      {% else %}
                        {%- render 'lazyload-image', image: image -%}
                      {% endif %}
                    </div>
                  {% if carousel %}</li>{%- endif -%}
                {%- endfor -%}

              {% if carousel %}</ul>{%- endif -%}
            {% if carousel %}</div>{%- endif -%}

            {% if carousel and carousel_pagination %}
              <div class="glide__bullets" data-glide-el="controls[nav]">
                {%- for image in product_images -%}
                  <button class="glide__bullet button" type="button" data-glide-dir="={{ forloop.index0 }}"></button>
                {%- endfor -%}
              </div>
            {%- endif -%}

          </div>
        {% endif %}

        <div class="{{ section_name }}__content">

          <div class="{{ section_name }}__info d-none d-lg-block">
            <strong class="{{ section_name }}__title heading--primary heading--sm">{{ product_title }}</strong>
            <div class="{{ section_name }}__price heading--primary heading--xs">{{ product_price | money_with_currency }}</div>
          </div>

          {% render 'product-description', product: product %}
          {% render 'product-additional-details', product: product %}
          {% render 'product-options', product: product %}
          {% render 'product-actions', product: product %}

        </div>

      </div>
    {%- render 'bs-container', state: 'closed', col: 'col-12', container: container -%}
  {%- endform -%}
</div>

{%- render 'json-ld', article: product, type: 'product' -%}

{% schema %}
{
  "name": "Product",
  "tag": "section",
  "class": "section section--product",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Product Image Aspect ratio",
      "info": "Optionally include an aspect ratio for the product images for consistent user experience.",
      "type": "text",
      "id": "product_image_aspect_ratio"
    },
    {
      "label": "Enable Product Image Border",
      "type": "checkbox",
      "default": false,
      "id": "product_image_border_enable"
    },
    {
      "content": "Carousel",
      "type": "header"
    },
    {
      "label": "Enable Pagination",
      "type": "checkbox",
      "default": false,
      "id": "carousel_pagination"
    },
    {
      "label": "Carousel Autoplay",
      "info": "Time in milliseconds before a slide changes. Set to '0' to disable autoplay.",
      "type": "range",
      "min": 0,
      "max": 8000,
      "step": 250,
      "default": 3000,
      "id": "carousel_autoplay"
    },
    {
      "label": "Carousel Animation Duration",
      "info": "Duration of the slide transition animation in milliseconds.",
      "type": "range",
      "min": 250,
      "max": 3500,
      "step": 50,
      "default": 450,
      "id": "carousel_animation_duration"
    },
    {
      "label": "Carousel Slide Gap",
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 20,
      "id": "carousel_gap"
    },
    {
      "content": "Border",
      "type": "header"
    },
    {
      "label": "Top Border",
      "type": "checkbox",
      "default": false,
      "id": "border_top"
    },
    {
      "label": "Bottom Border",
      "type": "checkbox",
      "default": false,
      "id": "border_bottom"
    },
    {
      "label": "Container",
      "type": "select",
      "options": [
        {
          "label": "Static",
          "value": "container"
        },
        {
          "label": "Fluid",
          "value": "container-fluid"
        },
        {
          "label": "Full Width",
          "value": "full-width"
        }
      ],
      "default": "container",
      "id": "container"
    },
    {
      "content": "Padding",
      "type": "header"
    },
    {
      "label": "Top Padding",
      "type": "range",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 36,
      "id": "padding_top"
    },
    {
      "label": "Bottom Padding",
      "type": "range",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 36,
      "id": "padding_bottom"
    },
    {
      "content": "Anchor",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    }
  ],
  "templates": [
    "product"
  ]
}
{% endschema %}
